apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - config.yaml
  - deployment.yaml
  - ingress.yaml
  - service.yaml
  - servicemonitor.yaml
  - grafana-dashboard.yaml
  - serviceaccount.yaml
